h1 {

}

body {
  background-color: #FFFF;

}

.container {
  display: flex;
}

.container-1 {
  border: 1px solid #FFF;
  width: 300px;
  height: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
}

.container-2 {
  border: 1px solid #FFF;
  width: 300px;
  height: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: blue;
}

.container-3 {
  border: 1px solid #FFF;
  width: 300px;
  height: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: red;
}

.container-4 {
  border: 1px solid #FFF;
  width: 300px;
  height: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: green;
}
