<h1>Find your exhibit today:</h1>

<form action="/exhibition/filter.erb" method="get">

<label for="artist_first_name">Artist:</label>
<select class="artist_id" name="artist_id">

</select>




  <% for exhibit in exhibitions %>
    
  <% end %>



</form>
