<form action="/exhibition" method="post">
  <label for="name">Title:</label>
  <input type="text" name="name" id="name">

  <label for="Category">Category:</label>
  <input type="text" name="category" id="category">


  <input type="submit" value="Create">
</form>
