<h1>Artist View</h1>

<% for artist in @artists %>
<p>First Name: <%= artist.first_name %> </p>
<p>Last Name: <%= artist.last_name %> </p>
<p><a href="artist/<%= artist.id %>">More Information</a></p>
<% end %>
